{{#if posts.length}}
<section>
  <h2>Your Dashboard</h2>

    {{#each posts as |post|}}

      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
  
    {{/each}}

</section>
{{/if}}

{{#if loggedIn}}
<a href="/create-post">Create Post</a>
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/render-post.js"></script> --}}
{{!-- <script src="/javascript/upvote.js"></script> --}}
{{/if}}